.listItem{
    background-color: beige;
    border-radius: 10cap;
    padding-left:10px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.listItem h1{
    display: flex;
    align-items: center;
    color: rgb(69, 68, 68);
    font-family: 'Franklin Gothic', sans-serif;
    padding:5px;
    padding-right: 20px;
    
}

ul {
    list-style-type: none;
  }
  
.spacer {
    flex-grow: 1;
}

.listItem p{
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic', sans-serif;
    padding:5px;
    font-size:25px;
    padding-left:30px;
    margin-left:20px;
    background-color: rgb(141, 141, 115);
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom:0px;
    border-bottom:0px;
}

.albums {
  margin-top: 10px;
  transition: opacity 0.3s ease; 
  padding-bottom:20px;
  width:560px;
  
}

.listed-songs{
    font-size: 20px;
    background-color: rgb(189, 189, 161);
    border-radius: 0 0 2cap 2cap;
    padding-top:10px;
    margin-top:0;
    border-top:0;
    margin-left:20px;
    padding-bottom:10px;
    list-style-type: none;
    padding: 30px;
    
}


  .song-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: 'Franklin Gothic', sans-serif;
  }
  
  .song-title {
    flex-grow: 1;
  }
  
  .song-length {
    text-align: right;
  }
  
  .editplaylist{
      background-color: rgb(141, 141, 115);
      font-family: 'Franklin Gothic', sans-serif;
      font-size: 35px;
      color: white;
      border-radius: 20cap;
      padding-left:20px;
      margin-top:20px;
      margin-right:20px;

  }