body {
    background-color: rgb(145, 125, 95);
    background-image: url("images/second_background_image.png");
    border: 0;
    margin: 0;
    padding: 0;
}

.main-page {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100vh; /* A teljes képernyő magassága */
    width: 100%;
    background-image: url("images/main_background_image.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-page h1 {
    font-family: 'Franklin Gothic', sans-serif;
    font-size: 8vw; /* Dinamikus méret */
    padding: 0;
    margin: 0;
    opacity: 0;
    animation: slide-in-anim 1.5s ease-out forwards;
    color: white;
}

.main-page p {
    color: white;
    font-family: 'Franklin Gothic', sans-serif;
    font-size: 3vw; /* Dinamikus méret */
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slide-in-anim {
    20% {
        opacity: 0;
    }
    60% {
        transform: translateX(0); /* Középre igazítva */
    }
    75% {
        transform: translateX(0); /* Középre igazítva */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* Középre igazítva */
    }
}

@media (max-width: 600px) {
    .main-page h1 {
        font-size: 10vw; /* Mobil nézethez igazított méret */
    }

    .main-page p {
        font-size: 6vw; /* Mobil nézethez igazított méret */
    }
}
