.playListsLi{
    color: rgb(69, 68, 68);
    font-family: 'Franklin Gothic', sans-serif;
    background-color: beige;
    font-size:30px;
    margin:20px;
    padding:10px 10px 10px 30px;
    border-radius: 2cap;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-left:0px;
}

.playLists-opened{
    border-radius: 0cap;
}
.add-icon {
    float: right;
    margin-left: 10px;
}
.song-item{
    margin-top:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: 'Franklin Gothic', sans-serif;
    font-size: 20px;
}

.playlist-songs{
    padding:0px;
}
