body{
	background-color: rgb(145, 125, 95);
	background-image: url("images/second_background_image.png"); ;
}
.main-page{
    border:0;
    margin:0;
    padding:0;
    height: 710px;
    width: 100%;
    background-image: url("images/main_background_image.png");
    background-size: cover;
}
.main-page h1{
    font-family: 'Franklin Gothic', sans-serif;      
	font-size: 120px;
	text-align: center;
	padding: 0;
    padding-top:200px;
	margin: 0;
	margin-left: 50%;
	transform: translateX(-200%);
	opacity: 0;
	animation: slide-in-anim 1.5s ease-out forwards;
    color:white;
}

.main-page p{
    color:white;
    font-family: 'Franklin Gothic', sans-serif;  
    font-size:40px;
    text-align: center;
	animation: fadeIn 5s;
}
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }

  
@keyframes slide-in-anim {
	20% {
		opacity: 0;
	}
	60% {
		transform: translateX(-45%);
	}
	75% {
		transform: translateX(-52%);
	}
	100% {
		opacity: 1;
		transform: translateX(-50%);
	}
}


body{
    border:0;
    margin:0;
    padding:0;
}